<footer>
    <div id="footer-wrapper">
        <div class="row footer-row pb-2 mb-3 mr-0">
            <div class="col-lg-8 col-md-12">
                <p id="company-info-title" class="pt-3">Recognize Tools</p>
                <div class="row-contact-content mt-2 mr-2">
                    <div>
                        Our website provide solutions to resolve DIP issues,
                        concentrating on identifying species of animals based on
                        the images you upload. Using the sophisticated
                        technology, our team will definitely accommodate all
                        your needs for your highest convenience.
                    </div>

                    <div class="media-links media-links-footer mt-3">
                        <a href="#" class="">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#" class="">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <a href="#" class="">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#" class="">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <p id="contact-info-title" class="pt-3 mb-1">PROJECT DETAILS</p>
                <div class="row row-contact-content mt-3">
                    <div class="col-1 p-0">
                        <i class="fa-solid fa-school"></i>
                    </div>
                    <div class="col-11 pl-0">
                        <p>
                            Ton Duc Thang University, <br />Information
                            Technology Falcuty.
                        </p>
                    </div>
                </div>

                <div class="row row-contact-content">
                    <div class="col-1 p-0">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <div class="col-11 pl-0">
                        <p>Introduction to Media Computing, Final Project.</p>
                    </div>
                </div>

                <div class="row row-contact-content">
                    <div class="col-1 p-0">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="col-11 pl-0">
                        <p>Le Nguyen Minh Tri, Nguyen Anh Khoa.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright" class="pb-3">
            Recognize Tools &copy; 2023 - All Rights Reserved
        </div>
    </div>
</footer>