<nav
    class="navbar navbar-expand-lg navbar-dark shadow mb-5 py-3"
    style="background-color: #385f77"
>
    <div class="container">
        <a class="navbar-brand" href="{% url 'app:home' %}">RECOGNIZE TOOLS</a>

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link pl-5" href="{% url 'app:home' %}"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-5" href="{% url 'app:services' %}"
                        >Services</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-5" href="{% url 'app:about' %}"
                        >About</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-5" href="{% url 'app:contact' %}"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>